body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    color: #6b8e23;
    text-align: center;
    margin-top: 50px;
}

p {
    color: #4682b4;
    font-size: 18px;
    text-align: center;
}

a {
    color: #db7093;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

